* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #020617;
    color: #e5e7eb;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background: #020617;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    color: #3b82f6;
}

.logo span {
    color: white;
}

nav a {
    color: #e5e7eb;
    margin-left: 25px;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #3b82f6;
}

/* Hero */
.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero span {
    color: #3b82f6;
}

.hero .btn {
    margin-top: 25px;
    padding: 12px 30px;
    border: 2px solid #3b82f6;
    color: #3b82f6;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s;
}

.hero .btn:hover {
    background: #3b82f6;
    color: black;
}

/* Sections */
.section {
    padding: 80px 120px;
}

.section h2 {
    color: #3b82f6;
    margin-bottom: 20px;
}

/* Skills */
.skill-box span {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    background: rgba(59,130,246,0.15);
    color: #3b82f6;
}

/* Projects */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    padding: 25px;
    background: #0f172a;
    border-radius: 15px;
    border: 1px solid #1e293b;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    border-color: #3b82f6;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    color: #94a3b8;
}
