* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: radial-gradient(circle at top, #0f172a, #020617);
    color: #e5e7eb;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 120px;
}

.hero-text h1 {
    font-size: 48px;
}

.hero-text span {
    color: #a855f7;
}

.hero-text p {
    margin: 20px 0;
    max-width: 500px;
    color: #94a3b8;
}

.buttons .btn {
    padding: 12px 25px;
    border-radius: 25px;
    text-decoration: none;
    margin-right: 15px;
}

.primary {
    background: linear-gradient(135deg, #7c3aed, #a855f7);
    color: black;
}

.secondary {
    border: 1px solid #a855f7;
    color: #a855f7;
}

/* LOGOS */
.logos {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 30px;
    color: #64748b;
}

/* FEATURES */
.features {
    padding: 80px 120px;
}

.features h2 span {
    color: #a855f7;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-top: 40px;
}

.feature-card {
    background: #0f172a;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #1e293b;
}

/* PROJECTS */
.projects {
    padding: 80px 120px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.project-card {
    background: #0b1220;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #1e293b;
    transition: 0.3s;
}

.project-card.active {
    background: linear-gradient(135deg, #7c3aed, #9333ea);
    color: black;
}

.project-card:hover {
    transform: translateY(-10px);
}

/* INSIGHTS */
.insights {
    padding: 80px 120px;
}

.insight-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.insight-card {
    height: 160px;
    background: linear-gradient(135deg, #3b0764, #6d28d9);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CTA */
.cta {
    padding: 80px 120px;
    background: linear-gradient(135deg, #0f172a, #020617);
}

.cta span {
    color: #a855f7;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 30px;
    color: #94a3b8;
}

footer a {
    color: #a855f7;
    text-decoration: none;
}
